<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>姓名</th>
            <th>工号</th>
            <th>角色</th>
        </tr>
        <tr th:each="user:${users.pageData}">
            <td th:text="${user[0]}"></td>
            <td th:text="${user[1]}"></td>
            <td th:text="${user[2]}"></td>
<!--            <td th:text="${user.age gt 18} ? 你老了 : 你很年轻">18岁</td>
            <td th:text="${#dates.format(user.birthday, 'yyyy-MM-dd hh:mm:ss')}"></td>-->
        </tr>
    </table>
</body>
</html>